<div>
  <!-- Play Again Button -->
  <div class="button">
    <button
      class="big-button"
      mat-raised-button
      color="accent"
      (click)="resetGame()"
      *ngIf="winnerDetermined"
    >
      Play Again
    </button>
  </div>

  <div class="game-fight">
    <ng-container *ngIf="!winnerDetermined">
      <app-feature-person
        (personLoaded)="onPersonLoaded($event)"
        *ngIf="fightType === FightType.Person"
      ></app-feature-person>
      <app-feature-starship
        (starshipLoaded)="onStarshipLoaded($event)"
        *ngIf="fightType === FightType.Starship"
      ></app-feature-starship>
    </ng-container>

    <div class="centered-content" *ngIf="!winnerDetermined">
      <div class="play-buttons">
        <app-settings [isVisible]="!winnerDetermined"></app-settings>

        <button
          class="big-button"
          mat-raised-button
          color="primary"
          (click)="playGame()"
          *ngIf="!playGameDirty"
        >
          Play Game
        </button>
      </div>
      <div *ngIf="countdown > 0 && playGameDirty">
        <p>Game starts in {{ countdown }}...</p>
      </div>
      <div class="winner-img">
        <img ngSrc="img.png" height="163" width="203" priority alt="fight image">
      </div>
    </div>

    <ng-container *ngIf="!winnerDetermined">
      <app-feature-person
        (personLoaded)="onPersonLoaded($event)"
        *ngIf="fightType === FightType.Person"
      ></app-feature-person>
      <app-feature-starship
        (starshipLoaded)="onStarshipLoaded($event)"
        *ngIf="fightType === FightType.Starship"
      ></app-feature-starship>
    </ng-container>

    <app-winner
      [isVisible]="winnerDetermined && !playGameDirty"
      [battleData]="battleData"
    ></app-winner>
  </div>
</div>
