<div>
  <div class="button">
    <button class="big-button" mat-raised-button color="accent" (click)="resetGame()"
            *ngIf="winnerDetermined">Play Again</button>
  </div>

  <div class="game-fight">
    <div *ngIf="!winnerDetermined">
      <app-feature-person (personLoaded)="onPersonLoaded($event)"
                          *ngIf="fightType === FightType.Person"/>
      <app-feature-starship (starshipLoaded)=onStarshipLoaded($event)
                            *ngIf="fightType === FightType.Starship"/>
    </div>

    <div class="centered-content" *ngIf="!winnerDetermined">
      <div class="play-buttons">
        <app-settings [isVisible]="!winnerDetermined"/>

        <button class="big-button" mat-raised-button color="primary" (click)="playGame()"
                *ngIf="!winnerDetermined && !playGameDirty">Play Game
        </button>
      </div>
      <div *ngIf="countdown > 0 && playGameDirty && !winnerDetermined">
        <p>Game starts in {{ countdown }}...</p>
      </div>
      <div class="winner-img">
        <img ngSrc="img.png" height="163" width="203" priority alt="fight image">
      </div>
    </div>

    <div *ngIf="!winnerDetermined">
      <app-feature-person (personLoaded)="onPersonLoaded($event)"
                          *ngIf="fightType === FightType.Person"/>
      <app-feature-starship (starshipLoaded)=onStarshipLoaded($event)
                            *ngIf="fightType === FightType.Starship"/>
    </div>

    <app-winner [isVisible]="winnerDetermined && !playGameDirty"
                [battleData] = "battleData" />
  </div>

</div>
