.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.settings {
  border: 1px solid #000000; /* Green border */
  border-radius: 2px;
  text-align: center;
  flex: 1;
  padding: 1rem;
}

.settings p {
  margin-top: 0;
  font-size: 1.5rem;
}

.play-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.big-button {
  scale: 1.5;
  margin: 1rem;
}

.image-container {
  display: inline-block;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.game-fight {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.margin {
  margin: 0.5rem
}
